main
    .index-header
        width: 100%
        height: 160px
        text-align: center
        padding: 80px 0
    .index-title
        font-size: 40px
        text-align: center
        div
            position: relative
            white-space: nowrap
            &::after
                content: 'I'
                animation: index_title_after 1s infinite normal
    .index-description
        font-size: 34px
    .article-container
        background-color: var(--main-bg)
        margin: 0 auto
        box-sizing: border-box
        box-shadow: 0 -5px 10px var(--main-box-shadow-color)
        border-radius: 10px
        article
            box-sizing: border-box
            padding: 20px 50px
    .pagination
        background-color: var(--body-bg)
        fill: var(--text-color)
        color: var(--text-color)

/* 模拟指针闪烁 */
@keyframes index_title_after
    from
        opacity: 1
    to
        opacity: 0

// index markdown
.excerpt-title
    font-size: 30px
    text-align: center

.excerpt-meta
    text-align: center
    color: gray
    margin-bottom: 20px

.excerpt p
    margin: 10px 0

.excerpt-more
    text-align: right
    a
        display: inline-block
        letter-spacing: 2px
        color: $a-hover-color
        padding 5px 10px
        font-weight: 900
        background-color: var(--main-bg);
        border: 3px solid $a-hover-color
        box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0;
        position: relative;
        border-radius: 5px
        &:active
            top: 3px;
            left: 3px;
            box-shadow:0 0 0 0;
