/* index markdown */
.excerpt-title {
    font-size: 30px;
    text-align: center;
}

.excerpt-meta {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

.excerpt p {
    margin: 10px 0;
}

.excerpt h2 {
    font-size: 24px;
}

.excerpt h3 {
    font-size: 20px;
}

.excerpt h4, .excerpt h5, .excerpt h6 {
    font-size: 18px;
}

.excerpt p {
    font-size: 16px;
    line-height: 24px;
}

.excerpt a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 229, 175, 0.3);
    color: #1a1a1a;
    transition: all 0.25s ease;
    text-decoration: none;
}

.excerpt a:hover {
    background-color: #f8e5af;
    border-bottom-color: #1a1a1a;
}

.excerpt a[rel='noopener']::after {
    content: '\1F517';
}

.excerpt ul, .excerpt ol {
    padding-left: 25px;
}

.excerpt ul li, .excerpt ol li {
    margin-bottom: 3px;
}

.excerpt img {
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin: 10px 0;
}

.excerpt blockquote {
    border-left: 4px solid #ccc;
    margin: 10px 0;
    padding: 8px 15px;
}

.excerpt blockquote p {
    margin: 0;
    padding: 0;
    color: gray;
}

.excerpt>table {
    border-collapse: collapse;
    max-width: 100%;
}

.excerpt>table thead {
    background-color: #bbb;
}

.excerpt>table tr td, .excerpt>table tr th {
    border: 1px solid #bbb;
    padding: 5px;
}

.excerpt>table tbody tr:nth-child(2n) {
    background-color: #fafafa;
}

.excerpt li>code, .excerpt p code {
    color: rgb(241, 42, 42);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    border-radius: 3px;
    font-family: consolas, sans-serif;
    margin: 0 2px;
}

.excerpt-more a {
    display: inline-block;
    padding: 5px 12px;
    border: 2px solid #454545;
    border-radius: 5px;
    margin: 10px 0;
}

.excerpt-more a:hover {
    background-color: #454545;
}