.to-top
    position fixed
    right 50px
    bottom 40px
    cursor pointer
    height 40px
    line-height 40px
    text-align center
    width 40px
    border-radius 50%
    transition all 250ms ease
    &:hover
        background var(--container-color)
    a
        display block
        height 40px
        width 40px
