.tag-container
    margin 50px 50px 10px 50px
    .tag-title
        text-align center
    .tag-list
        .tag-item
            display block
            padding 10px 20px
            border-radius 5px
            &:hover
                background rgba($color, .1)
