:root 
    --bg #e8e0c9
    --container-bg #fbf4e2
    --color #080808
    --markdown-color #24292f

.dark 
    --bg #061a20
    --container-bg #002b36
    --color #fff
    --markdown-color #efefef


