.description
    color gray

nav
    text-align end

.index-title, .index-article, nav 
    margin 0 50px

.article-bottom
    border-top 1px solid #cecece
    padding 10px 50px
    position absolute
    bottom 20px
    left 0
    width 100%
    box-sizing border-box

.post-cc
    background rgba(255, 0, 0, .1)
    color red
    padding 10px 20px
    margin 20px 0
    border-radius 5px
    text-align center

.article-list
    .article-item
        margin 40px 0
        .article-item-title
            margin: 0.2em 0
        h1
            margin 0
            font-weight 600
            font-size 2em
            text-align center
        .info
            text-align center
            color gray
            font-size 0.8rem

$tag-color = rgb(255, 47, 161)
.post-tag
    margin 40px 0 10px 0
    display flex
    flex-wrap wrap
    gap 20px
    a
        color $tag-color
    .tag-item
        background rgba($tag-color, .1)
        position relative
        display inline-block
        height 26px
        line-height 26px
        padding 0 10px 0 5px
        &::before
            content ""
            position absolute
            top 0
            left -26px
            width 0
            height 0
            background transparent
            border 13px solid transparent
            border-right 13px solid rgba($tag-color, .1)
        &:hover
            background rgba($tag-color, .2)
            &::before
                border-right-color rgba($tag-color, .2)
$cate-color = #f0a71f
.post-cate
    margin 10px 0 40px 0
    display flex
    flex-wrap wrap
    gap 20px
    a
        color $cate-color
    .cate-item
        background rgba($cate-color, .1)
        position relative
        display inline-block
        height 26px
        line-height 26px
        padding 0 10px 0 5px
        &::before
            content ""
            position absolute
            top 0
            left -26px
            width 0
            height 0
            background transparent
            border 13px solid transparent
            border-right 13px solid rgba($cate-color, .1)
        &:hover
            background rgba($cate-color, .2)
            &::before
                border-right-color rgba($cate-color, .2)
