<div class="shadow widget-music">
<div class="widget-music-back"></div>

<%# netease %>
<% if(theme.widget.music.netease.enable){ %>
    <h4 style="text-shadow: 2px 2px #ed1c24;">网易云音乐</h4>
<% if(theme.widget.music.netease.songID){ %>
    <% for(i of theme.widget.music.netease.songID){ %>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" 
        width=100% 
        height=86 
        src="//music.163.com/outchain/player?type=2&id=<%= i %>&auto=0&height=66">
    </iframe>
    <% } %>
<% } %>
<% if(theme.widget.music.netease.songListID){ %>
    <% for(i of theme.widget.music.netease.songListID){ %>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" 
        width= 100% 
        height=450 
        src="//music.163.com/outchain/player?type=0&id=<%= i %>&auto=1&height=430">
    </iframe>
    <% } %>
<% } %>

<% } %>

<%# QQ音乐 %>
<% if(theme.widget.music.QQMusic.enable){ %>
    <h4 style="text-shadow: 1px -1px #0eaf52,2px 2px #f8cc18;">QQ音乐</h4>
    <div class="control-info">
        <div id="qqMusic-info">点击右边播放...</div>
        <div class="control">
            <button id="play" class="btn btn-success">播放</button>
            <button id="parse" class="btn btn-warning">暂停</button>
        </div>
    </div>
    <div class="song-info">
        <button id="prev" class="btn btn-sm btn-outline-primary">上一首</button>
        <button id="next" class="btn btn-sm btn-outline-primary">下一首</button>
    </div>
<script src="//y.gtimg.cn/music/h5/player/player.js?max_age=2592000"></script>
<script>
const qqMusicInfo = document.getElementById('qqMusic-info');
var player = new QMplayer();
player.on("play", function (e) {
    qqMusicInfo.innerText = e.song.name + ' - ' + e.song.singer[0].name;
})
const play = document.getElementById('play');
const parse = document.getElementById('parse');
const prev = document.getElementById('prev');
const next = document.getElementById('next');
play.addEventListener('click',()=>{
    player.play("<%= theme.widget.music.QQMusic.songID %>");
})
parse.addEventListener('click',()=>{
    player.pause();
})
prev.addEventListener('click',()=>{
    player.playPrev();
})
next.addEventListener('click',()=>{
    player.playNext();
})
</script>
<% } %>

</div>

