<div class="shadow widget-poem">
    <div id="jinrishici-sentence">正在加载今日诗词....</div>
    <div id="poem-more">
        <div id="poem-more-da" class="text-center"></div>
        <div id="poem-more-title" class="text-center"></div>
    </div>
    <div class="poem-btn text-right">
        <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="collapse" data-target="#poetry" aria-expanded="false" aria-controls="poetry">全文</button>
    </div>
    <div class="collapse" id="poetry">
        <div class="card card-body" id="all-poem" style="color:#1d1d1d;"></div>
    </div>
</div>
<style>
.widget-poem{
    margin-bottom: 20px;
    padding: 15px 10px 5px 10px;
    border-radius: 10px;
    position: relative;
}
.widget-poem #jinrishici-sentence{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#poem-more div,{
    font-size: 13px;
}
#all-poem{
    font-size: 15px;
}

</style>
<%# 诗词插件 - https://www.jinrishici.com %>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script>
const poemSpan = document.querySelector('.widget-poem');
var poemTextColor = '#1d1d1d';
let r = Math.floor(Math.random()*255);
let g = Math.floor(Math.random()*255);
let b = Math.floor(Math.random()*255);
if(r<128 || g<128 || b<128){
    poemTextColor = 'white';
}
poemColor = 'rgba(' + r + ',' + g + ',' + b + ')';

poemSpan.style.backgroundColor = poemColor;
poemSpan.style.color = poemTextColor;

var poemMore1 = document.querySelector("#poem-more-da");
var poemMore2 = document.querySelector("#poem-more-title");
var allpoem = document.querySelector("#all-poem");

jinrishici.load(function(result) {
    let dynasty = '【' + result.data.origin.dynasty + '】';
    let author = result.data.origin.author;
    let title = '《' + result.data.origin.title + '》';
    let allContent = result.data.origin.content;
    poemMore1.innerText = dynasty + author;
    poemMore2.innerText = title;
    allpoem.innerText = allContent.join('\n');
});
</script>
