<div class="shadow widget-weather">

<div class="weather-today">
    <h3>
        <span id="weather-city" style="color: white;"></span>  
        <svg t="1638325100834" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2324" width="24" height="24"><path d="M866.783524 192.308461l-37.390752 39.964431c33.654502 55.787014 53.021302 121.165808 53.021302 191.070815 0 94.347844-35.271373 180.456538-93.348462 245.858447l0.68397-0.012545-9.771168 9.881113c-3.035783 3.1805-6.127576 6.307064-9.274391 9.378508L631.017486 829.713124c0.064604-0.019263 0.128318-0.039513 0.191934-0.057887L512 949.559197 243.000077 678.099294l0.09651-0.000988c-62.919801-66.390721-101.518268-156.062796-101.518268-254.7546 0-204.580999 165.838804-370.415951 370.415951-370.415951 71.049106 0 137.420565 20.005429 193.798891 54.683416l36.807046-39.339335C676.254827 25.093024 597.058043 0 511.994172 0 278.20003 0 88.667851 189.541761 88.667851 423.343706c0 109.117012 41.295722 208.57764 109.094884 283.64176 0.916405 1.284963 1.959252 2.510063 3.141975 3.653174l3.632034 3.667695c4.47129 4.723976 9.044821 9.349565 13.728296 13.863332l243.990766 246.398589c0.545971 0.526708 1.114168 1.019633 1.693922 1.492307l47.946154 47.939437 45.578832-45.578832c1.289803-0.867211 2.522608-1.849307 3.672535-2.959622l261.351097-263.929616c1.469192-1.417134 2.725211-2.961499 3.783468-4.591805 67.774071-75.058292 109.050432-174.500645 109.050432-283.594443C935.331161 338.100446 910.132045 258.743535 866.783524 192.308461zM370.878945 405.70471c0 77.935925 63.179303 141.10851 141.10851 141.10851 77.935925 0 141.11908-63.172586 141.11908-141.10851 0-77.93306-63.183155-141.112363-141.11908-141.112363C434.058346 264.592348 370.878945 327.772638 370.878945 405.70471zM600.197153 405.70471c0 48.705396-39.493732 88.191325-88.201993 88.191325-48.712114 0-88.19903-39.486916-88.19903-88.191325 0-48.712114 39.486916-88.195177 88.19903-88.195177C560.703421 317.509533 600.197153 356.992597 600.197153 405.70471z" fill="#fff"></path></svg>
    </h3>
    <div class="wtt"><h1 id="weather-today-temp" style="color: white;"></h1><span>°C</span></div>
    <div id="weather-today-high-low"></div>
    <div id="weather-today-type"></div>
    <div id="weather-today-wind"></div>
</div>
<% if(theme.widget.weather.openBroadcast){ %>
    <div class="weather-info">
        <span class="weather-info-icon">
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3348" width="24" height="24"><path fill="#eee" d="M257.493333 322.4l215.573334-133.056c24.981333-15.413333 57.877333-7.914667 73.493333 16.746667 5.301333 8.373333 8.106667 18.048 8.106667 27.914666v555.989334C554.666667 819.093333 530.784 842.666667 501.333333 842.666667c-9.994667 0-19.786667-2.773333-28.266666-8L257.493333 701.6H160c-41.237333 0-74.666667-33.013333-74.666667-73.738667V396.138667c0-40.725333 33.429333-73.738667 74.666667-73.738667h97.493333z m26.133334 58.4a32.298667 32.298667 0 0 1-16.96 4.8H160c-5.888 0-10.666667 4.714667-10.666667 10.538667v231.733333c0 5.813333 4.778667 10.538667 10.666667 10.538667h106.666667c5.994667 0 11.872 1.664 16.96 4.8L490.666667 770.986667V253.013333L283.626667 380.8zM800.906667 829.653333a32.288 32.288 0 0 1-45.248-0.757333 31.317333 31.317333 0 0 1 0.768-44.693333c157.653333-150.464 157.653333-393.962667 0-544.426667a31.317333 31.317333 0 0 1-0.768-44.682667 32.288 32.288 0 0 1 45.248-0.757333c183.68 175.306667 183.68 460.010667 0 635.317333z m-106.901334-126.186666a32.288 32.288 0 0 1-45.248-1.216 31.328 31.328 0 0 1 1.237334-44.672c86.229333-80.608 86.229333-210.56 0-291.178667a31.328 31.328 0 0 1-1.237334-44.672 32.288 32.288 0 0 1 45.248-1.216c112.885333 105.546667 112.885333 277.418667 0 382.965333z" p-id="3349"></path></svg>
        </span>
        <div class="weather-info-text">
            <span>感冒多发期，适当减少外出频率，适量补充水分，适当增减衣物。</span>
        </div>
    </div>
<% } %>

<script type="text/javascript">
var city = "<%= theme.widget.weather.city %>";
const weatherCity = document.getElementById('weather-city');
// weatherCity.innerText = city;
const weatherTodayTemp = document.getElementById('weather-today-temp');
const weatherTodayHL = document.getElementById('weather-today-high-low');
const weatherTodayType = document.getElementById('weather-today-type');
const weatherTodayWind = document.getElementById('weather-today-wind');

var ajaxWeather = new XMLHttpRequest();
ajaxWeather.open('get',"http://wthrcdn.etouch.cn/weather_mini?city=" + city,true);
ajaxWeather.send();
ajaxWeather.onreadystatechange = function(){
    if(ajaxWeather.readyState == 4 && ajaxWeather.status == 200){
        let weatherData = JSON.parse(ajaxWeather.responseText);
        weatherCity.innerText = weatherData.data.city;
        weatherTodayTemp.innerText = weatherData.data.wendu;
        weatherTodayHL.innerText = weatherData.data.forecast[0].high.replace('高温','')+ ' / ' + weatherData.data.forecast[0].low.replace('低温','');
        weatherTodayType.innerText = weatherData.data.forecast[0].type;
        weatherTodayWind.innerText = weatherData.data.forecast[0].fengxiang +' - '+ weatherData.data.forecast[0].fengli.replace('<![CDATA[','').replace(']]>','');

        // console.log(weatherData.data.forecast[0]); // 今天气象条件
    }
}
</script>
</div>
