// 变量
font-size = 16px
font-family = "Fira Code", "JetBrans Mono", "Helvetica Neue", Helvetica, "Microsoft Yahei",Arial, sans-serif
font-line = 1.6

// 获取配置信息
$color = get-config('color', "#648773")
$code-bg = get-config('code.highlight.bg', "#fff")
$code-color = get-config('code.highlight.color', "#24292f")
$code-border = hexo-config('code.border')
$archive-list = get-config('archiveLineColor', "#ccc")
$tag-color = get-config('tagColor', "rgb(255, 47, 161)")
$cate-color = get-config('categoryColor', "#19ceb0")
