// 变量
font-size = 16px
font-family = "Fira Code", "JetBrans Mono", "Helvetica Neue", Helvetica, "Microsoft Yahei",Arial, sans-serif
font-line = 1.8

// 获取配置信息
$color = get-config('color', "#648773")
$code-bg = get-config('code.bg', "#fff")
