/* 代码块 */
figure {
    background-color: #fafafa;
    overflow: auto;
    margin: 20px 0;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    table {
        tr td {
            pre {
                margin: 0;
                padding: 0;
            }

            &.gutter {
                background: #fafafa;

                pre {
                    padding: 0 10px;
                    color: #aaa;
                    text-align: center;
                    // border-right: 1px solid #aaa;
                    user-select: none;
                }
            }
        }

        pre, pre code {
            font-family: Roboto Mono, JetBrains Mono, consolas, microsoft yahei, sans-serif;
        }

        tr {
            border: 0;
            margin: 0;
        }
    }

    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        height: 6px;
        width: 6px;
        border: 2px solid transparent;
        background-color: rgba(0, 0, 0, 0.4);
    }

    figcaption {
        font-size: 14px;
        padding: 5px 12px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
    }

    .code-info {
        background: #f3f3f3;
        position: sticky;
        left: 0;
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        .left {
            display: flex;
            align-items: center;

            span {
                margin-right: 3px;
            }

            .mac-circle1 {
                display: inline-block;
                height: 1em;
                width: 1em;
                border-radius: 50%;
                background-color: #ff5f56;
            }

            .mac-circle2 {
                display: inline-block;
                height: 1em;
                width: 1em;
                border-radius: 50%;
                background-color: #ffbd2e;
            }

            .mac-circle3 {
                display: inline-block;
                height: 1em;
                width: 1em;
                border-radius: 50%;
                background-color: #27c93f;
            }

            .code-type {
                margin: 0 10px;
                text-transform: capitalize;
            }
        }

        .copy-btn {
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            color: gray

            svg {
                margin-right: 3px;
                fill: gray
            }
        }
    }
}

/* 代码高亮 */
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}

code.hljs {
    padding: 3px 5px;
}

.hljs {
    color: #383a42;
    background: #fafafa;
}

.hljs-comment, .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag, .hljs-formula, .hljs-keyword {
    color: #a626a4;
}

.hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #50a14f;
}

.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #986801;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
    color: #4078f2;
}

.hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
    color: #c18401;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

.hljs-link {
    text-decoration: underline;
}