// $markdown
.post, .excerpt
    h2
        font-size: 24px;
    h3
        font-size: 20px;
    h4, h5, h6
        font-size: 18px;
    p
        font-size: 16px;
        line-height: 24px;
    a
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background-color: $markdown-a-background;
        color: #1a1a1a;
        transition: all 0.25s ease;
        text-decoration: none;
        &:hover
            background-color: $markdown-a-hoverBackground;
            border-bottom-color: #1a1a1a;
            color: #1a1a1a;
        &[rel='noopener']::after
            content: '\1F517';
    ul, ol
        padding-left: 25px;
        li
            margin-bottom: 3px;
    img
        box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        margin: 10px 0;
    blockquote
        border-left: $markdown-blockquote-borderLeftWidth solid $markdown-blockquote-borderLeftColor;
        margin: 10px 0;
        padding: $markdown-blockquote-padding;
        p
            margin: 0;
            padding: 0;
            color: $markdown-blockquote-color;
    > table
        border-collapse: collapse;
        max-width: 100%;
        thead
            background-color: $markdown-table-color;
        tr 
            td, th
                border: 1px solid $markdown-table-border-color;
                padding: 5px;
            &:nth-child(2n)
                background-color: $markdown-table-tr-color;
    li>code, p code
        color: rgb(241, 42, 42);
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1px 3px;
        border-radius: 3px;
        font-family: consolas, sans-serif;
        margin: 0 2px;

