// $markdown
.post, .excerpt
    h2
        font-size: 24px;
    h3
        font-size: 20px;
    h4, h5, h6
        font-size: 18px;
    p
        font-size: 16px;
        line-height: 24px;
    a
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background-color: $markdown-a-background;
        color: #1a1a1a;
        transition: all 0.25s ease;
        text-decoration: none;
        &:hover
            background-color: $markdown-a-hoverBackground;
            border-bottom-color: #1a1a1a;
            color: #1a1a1a;
        &[rel='noopener']::after
            content: '\1F517';
    ul, ol
        padding-left: 25px;
        li
            margin-bottom: 3px;
    img
        box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        margin: 10px 0;
    blockquote:not(.pullquote)
        border-left: $markdown-blockquote-borderLeftWidth solid $markdown-blockquote-borderLeftColor;
        margin: 10px 0;
        padding: $markdown-blockquote-padding;
        p
            margin: 0;
            padding: 0;
            color: $markdown-blockquote-color;
        footer
            margin: 10px 0
            text-align: right
            &::before
                content: "--"
    .pullquote 
        background: #f2f2f2
        margin: 20px 0
        padding: 5px 20px
        border-radius: 3px
        position: relative
        p
            color: #555
        .pullquote-icon
            position: absolute
            right: 10px
            bottom: -14px
            svg
                fill: #aaa
        &.information
            background: #d7f2ff
            svg
                fill: #7ed1f8
        &.red
            background: #ffe1e7
            svg
                fill: #f56179
        &.danger
            background: #fffde1
            svg
                fill: #f4f753
        &.blue
            background: #d8ddfa
            svg
                fill: #4188f3
    > table
        border-collapse: collapse;
        max-width: 100%;
        thead
            background-color: $markdown-table-color;
        tr 
            td, th
                border: 1px solid $markdown-table-border-color;
                padding: 5px;
            &:nth-child(2n)
                background-color: $markdown-table-tr-color;
    li>code, p code
        color: rgb(241, 42, 42);
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1px 3px;
        border-radius: 3px;
        font-family: consolas, sans-serif;
        margin: 0 2px;
    .center
        text-align: center

