.pagination
    padding: 36px 0 20px 0
    display: flex
    justify-content: center
    align-items: center
    a,span
        display: inline-block
        padding: 0.5rem 0.75rem
    .current
        background: rgba(30, 177, 214, 0.1)
    a
        transition: all 0.25s ease
        &:hover
            background: rgba(30, 177, 214, 0.1)
            color: rgb(30, 177, 214)
            fill: rgb(30, 177, 214)
