.pagination {
    text-align: center;
    padding: 20px;

    span {
        margin: 5px 10px;

        a {
            display: inline-block;
            padding: 5px 8px;
            border: 1px solid #454545;
            border-radius: 5px;

            &:hover {
                background-color: #454545;
            }
        }
    }
}

.pagination-input {
    background-color: #fafafa;
    height: 75px;
    padding: 3px 8px;
    border: 1px solid #454545;
    border-radius: 5px;
    transition: all 0.25s ease;

    &:focus-within {
        background-color: #454545;
        color: white;
    }

    input {
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 3px 5px;
        width: 50px;
        transition: all 0.25s ease;
        background-color: #fafafa;

        &:focus {
            background-color: #454545;
            color: white;
        }
    }

    label {
        font-size: 1rem;
    }
}
