/* note */
.note
    background-color: #fafafa
    border-left: 8px solid #333
    padding: 10px 20px
    margin: 10px 0
    border-radius: 0 5px 5px 0

.note-info
    background-color: rgba(126, 209, 248, 0.1)
    border-left-color: rgb(126, 209, 248)
    /* color: rgb(126, 209, 248); */

.note-primary
    background-color: rgba(67, 80, 252, 0.1)
    border-left-color: rgb(2, 2, 252)
    /* color: blue; */

.note-success
    background-color: rgba(1, 254, 1, 0.1)
    border-left-color: green
    /* color: green; */

.note-danger
    background-color: rgba(255, 2, 1, 0.1)
    border-left-color: red
    /* color: red; */

.note-warning
    background-color: rgba(255, 244, 1, 0.1)
    border-left-color: rgb(255, 230, 0)
    /* color: rgb(214, 195, 24); */

.note-light
    border-left-color: #efefef

.note-purple
    background-color: rgba(185, 0, 185, 0.1)
    border-left-color: rgb(185, 0, 185)
    /* color: rgb(172, 6, 172); */

/* description */
.description
    padding: 10px 15px
    margin: 10px 0
    border: 1px solid #ccc
    border-left: 7px solid #343434
    border-radius: 5px
    .description-title
        font-weight: bolder
        font-size: 20px

.description.info
    border-color: #7eb1f8
    .description-title
        color: #7eb1f8

.description.success
    border-color: rgb(3, 184, 3)
    .description-title
        color: rgb(3, 184, 3)

.description.danger
    border-color: red
    .description-title
        color: red

.description.warning
    border-color: rgb(255, 251, 0)
    .description-title
        color: rgb(246, 250, 24)

/* toasts */
.toasts
    margin: 10px 0
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1)
    .toasts-title
        background-color: #333
        color: #fff
        fill: #fff
        display: flex
        align-items: flex-start
        padding: 5px 10px
        svg
            margin-right: 5px
    .toasts-content
        padding: 5px 12px
        background-color: #efefef

.toasts-tip
    .toasts-title
        background-color: #7eb1f8
    .toasts-content
        background-color: rgb(232, 239, 248)

.toasts-note
    .toasts-title
        background-color: green
    .toasts-content
        background-color: rgb(226, 255, 226)

.toasts-danger
    .toasts-title
        background-color: red
    .toasts-content
        background-color: rgb(255, 228, 228)

.toasts-warning
    .toasts-title
        background-color: rgb(238, 238, 4)
    .toasts-content
        background-color: rgb(249, 255, 205)

.toasts-book
    .toasts-title
        background-color: rgb(247, 226, 199)
        fill: #333
        color: #333
    .toasts-content
        background-color: #faf5f0

.collapse
    background: #f4f4f4
    border: 1px solid #eee
    border-radius: 3px
    margin: 10px 0
    .collapse-btn
        background: #f4f4f4
        position: sticky
        top: 40px
        cursor: pointer
        padding: 10px 15px
        user-select: none
        display: flex
        align-items: center
        z-index: 10
        svg
            width: 16px
            height: 16px
            transition: all 0.25s ease
        button
            outline: none
            background: none
            font-weight: bold
            font-size: 1em
            border: none
            cursor: pointer
    .collapse-text
        padding: 5px 15px
        // border-top: 1px solid #eee
        background: #fafafa
        transition: all 0.25s ease
        overflow: hidden

.collapse-info
    border: 1px solid #eee
    .collapse-btn
        background: #f4f4f4
    .collapse-text
        background: #fafafa

.collapse-warning
    border: 1px solid rgb(243, 229, 39)
    .collapse-btn
        background: rgb(255, 241, 40)
    .collapse-text
        background: rgb(255, 255, 225)

.collapse-danger
    border: 1px solid red
    .collapse-btn
        background: rgb(255, 40, 94)
        button
            color: white
        svg
            fill: white
    .collapse-text
        background: rgb(253, 215, 225)

.collapse-tip
    border: 1px solid #0969da
    .collapse-btn
        background: #0969da
        button
            color: white
        svg
            fill: white
    .collapse-text
        background: #d1dff0

.collapse-note
    border: 1px solid #61c8f8
    .collapse-btn
        background: #61c8f8
        button
            color: white
        svg
            fill: white
    .collapse-text
        background: #e8f8ff

.collapse-success
    border: 1px solid #008000
    .collapse-btn
        background: #008000
        button
            color: white
        svg
            fill: white
    .collapse-text
        background: #e5fce5

.collapse-dark
    border: 1px solid #232323
    .collapse-btn
        background: #232323
        button
            color: white
        svg
            fill: white
    .collapse-text
        background: #eee

.collapse-purple
    border: 1px solid rgb(194, 68, 194)
    .collapse-btn
        background: rgb(173, 15, 173)
        button
            color: white
        svg
            fill: white
    .collapse-text
        background: rgb(245, 226, 245)

.codepen
    height: 300px
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center
    border: 2px solid
    margin: 1em 0
    padding: 1em

.gist
    margin: 10px 0
    .gist-data
        max-height: 600px
        overflow: auto
