/* note */
.note
    background-color: #fafafa;
    border-left: 8px solid #333;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 0 5px 5px 0;

.note-info
    background-color: rgba(126, 209, 248, .1);
    border-left-color: rgb(126, 209, 248);
    /* color: rgb(126, 209, 248); */
.note-primary
    background-color: rgba(67, 80, 252, .1);
    border-left-color: rgb(2, 2, 252);
    /* color: blue; */
.note-success
    background-color: rgba(1, 254, 1, .1);
    border-left-color: green;
    /* color: green; */
.note-danger
    background-color: rgba(255, 2, 1, .1);
    border-left-color: red;
    /* color: red; */
.note-warning
    background-color: rgba(255, 244, 1, .1);
    border-left-color: rgb(255, 230, 0);
    /* color: rgb(214, 195, 24); */
.note-light
    border-left-color: #efefef;
.note-purple
    background-color: rgba(185, 0, 185, .1);
    border-left-color: rgb(185, 0, 185);
    /* color: rgb(172, 6, 172); */

/* description */
.description
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-left: 7px solid #343434;
    border-radius: 5px;
    .description-title
        font-weight: bolder;
        font-size: 20px;
.description.info
    border-color: #7eb1f8;
    .description-title
        color: #7eb1f8;
.description.success
    border-color: rgb(3, 184, 3);
    .description-title
        color: rgb(3, 184, 3);
.description.danger
    border-color: red;
    .description-title
        color: red;
.description.warning
    border-color: rgb(255, 251, 0);
    .description-title
        color: rgb(246, 250, 24);

/* toasts */
.toasts
    margin: 10px 0;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    .toasts-title
        background-color: #333;
        color: #fff;
        fill: #fff;
        display: flex;
        align-items: flex-start;
        padding: 5px 10px;
        svg
            margin-right: 5px;
    .toasts-content
        padding: 5px 12px;
        background-color: #efefef;

.toasts-tip 
    .toasts-title
        background-color: #7eb1f8;
    .toasts-content
        background-color: rgb(232, 239, 248);

.toasts-note 
    .toasts-title
        background-color: green;
    .toasts-content
        background-color: rgb(226, 255, 226);

.toasts-danger 
    .toasts-title
        background-color: red;
    .toasts-content
        background-color: rgb(255, 228, 228);

.toasts-warning 
    .toasts-title
        background-color: rgb(238, 238, 4);
    .toasts-content
        background-color: rgb(249, 255, 205);

.toasts-book 
    .toasts-title
        background-color: rgb(247, 226, 199);
        fill: #333;
        color: #333;
    .toasts-content
        background-color: #faf5f0;

.collapse
    border: 1px solid #eee
    .collapse-btn
        border-bottom: 1px solid #eee
        background: #fff
        position: sticky
        top: 50px
        text-align: center
        button
            outline: none
            background: none
            font-size: 1rem
            cursor: pointer
            width: 100%
            border: none
            border-top: 3px solid rgb(12, 197, 197)
            padding: 15px
            background: #fff
    .collapse-text
        padding: 10px 20px
        display: none
