// 适配黑暗模式
:root
  --color-mode: 'light'
  --text-color: #1a1a1a
  --body-bg: #fcfcfc
  --body-bg-image: radial-gradient(#ddddeeaa 12%, #fcfcfcaa 12%)
  --main-bg: #fff;
  --main-border-color: #eee;
  --main-border-color2: #aaa;
  --main-hover-bg: #eceef2;
  --main-box-shadow-color: rgba(15, 14, 14, 0.12);
  --main-bg2: #fafafa;
  --blur-color: rgba(0, 0, 0, 0.2);
  --full-color: #2a2a2a;

@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark'
  :root:not([data-user-color-scheme])
    --text-color: #dedede
    --body-bg: #181c27
    --body-bg-image: radial-gradient(#565656aa 12%, #181c27aa 12%)
    --main-bg: #313335;
    --main-border-color: #666;
    --main-border-color2: #444;
    --main-hover-bg: #1a1b1d;
    --main-box-shadow-color: rgba(99, 91, 91, 0.2);
    --main-bg2: #181717;
    --blur-color: rgba(200, 200, 200, .3);
    --full-color: rgb(200, 200, 200);

[data-user-color-scheme='dark']
  --text-color: #dedede
  --body-bg: #181c27
  --body-bg-image: radial-gradient(#565656aa 12%, #181c27aa 12%)
  --main-bg: #313335;
  --main-border-color: #666;
  --main-border-color2: #444;
  --main-hover-bg: #1a1b1d;
  --main-box-shadow-color: rgba(99, 91, 91, 0.2);
  --main-bg2: #181717;
  --blur-color: rgba(200, 200, 200, .3);
  --full-color: rgb(200, 200, 200);

div, nav, span, main, body
  margin: 0
  padding: 0

html
  scroll-behavior: smooth

.transition
  transition: all 0.25s ease

::selection
  background-color: $selection
  color: $selection-text-color

body
  font-family: microsoft yahei, Roboto Mono, JetBrains Mono, consolas, sans-serif
  background-color: var(--body-bg)
  background-image: var(--body-bg-image)
  background-size: 15px 15px
  font-size: 16px
  color: var(--text-color)

a
  color: inherit
  text-decoration: none
  transition: all 0.25s ease
  word-break: break-all
  &:hover
    color: $a-hover-color

img
  max-width: 100%

hr
  border: none
  border-top: 1px solid #bbb
  color: #bbb
  overflow: visible
  text-align: center
  height: 5px
  margin: 10px 0
  &:after
    background: var(--main-bg)
    content: '§'
    padding: 0 4px
    position: relative
    top: -13px

.page-404
  height: 90vh
  width: 100%
  box-sizing: border-box
  padding: 100px 20%
  background: #fff
  h1
    color: red
  #page404-time
    font-size: 1.4rem
    color: red
