section.archive, section.category, section.tag
  background-color: var(--body-bg)
  width: 80%
  margin: 100px auto 50px auto
  box-sizing: border-box
  padding: 40px 100px
  .post-list-group
    display: flex
    flex-direction: column
    .post-list-year
      font: 1.2rem bold
    .list-group-item
      background-color: var(--body-bg)
      box-sizing: border-box
      padding: 0.75rem 1.25rem
      width: 100%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      time
        margin-right: 20px
