<% 
    page.title = __("404");
%>

<section class="page404" style="margin: 50px 0;">
    <h1 style="text-align: center;font-size: 3rem;" class="fancy-color">404</h1>
    <p style="text-align: center;">
        <span> Ops! Page is not found! </span>
        |
        <a href="<%- url_for("/") %>">go back to home!</a>
    </p>
    <p>
        <%- image_tag("imgs/404.png") %>
    </p>
</section>