<h2 class="post-archives-head">Archives</h2>
<div class="alert alert-info" role="alert">
    <% page.posts.each(function(item){ %>
        <%- partial('_partial/article-archive', {item: item}) %>
    <% }); %>
</div>
<%- partial('_partial/pagination') %>
