<%
    page.title = __("nav.archives")
%>
<section class="archive">
    <h2 class="archives-head"><%= __('archive.title', site.posts.length ) %></h2>
    
    <%- partial('components/list.ejs') %>

    <%- partial('components/pagination', {item: page}) %>
</section>