<!DOCTYPE html>
<html lang="<%- config.language %>">
<%- include('partial/head') %>
<body id="delicate-app">
    <header></header>
    <main>
        <%- body %>
    </main>
    <footer></footer>
</body>
</html>