
<div class="<%= theme.tags.tagsBackStyle %> shadow tag-box">
    <h3>标签</h3>

    <%- tagcloud(site.tags,{
        min_font: theme.tags.minFont,
        max_font: theme.tags.maxFont,
        color: theme.tags.color.enable,
        start_color: theme.tags.color.startColor,
        end_color: theme.tags.color.endColor
        })
    %>
</div>
