
<div class="<%= theme.widget.tagsTheme%> shadow sidebar-top">
    <h3>标签</h3>
    <p>
        <% site.tags.sort('name').each(function(item){ %>
            <a href="<%- config.root %>archives/" style="font-size: <%- Math.min(item.posts.length * 2 + 20, 45) %>px"><%= item.name %></a>
        <% }); %>
    </p>
</div>
