// _variables
empty = ()
$empty = ()

/*
 * tag 
 */ 
$tag-a-background = get-config("tag.aBackground", "rgb(242, 248, 244)");
$tag-a-hover-color = get-config("tag.aHoverColor", "rgb(54, 194, 200)"); 
$tag-a-border-radius = get-config("tag.aBorderRadius", "0"); 

/*
 * archive
 */
$archive-a-background = get-config("archive.aBackground", "rgb(242, 248, 244)");
$archive-a-hover-color = get-config("archive.aHoverColor", "rgb(54, 194, 200)"); 
$archive-a-border-radius = get-config("archive.aBorderRadius", "0"); 
$archive-box-shadow = get-config("archive.boxShadow", "0 5px 20px rgba(0,0,0,.04)"); 

/*
 * category
 */
$category-a-background = get-config("category.aBackground", "rgb(242, 248, 244)");
$category-a-hover-color = get-config("category.aHoverColor", "rgb(54, 194, 200)"); 
$category-a-border-radius = get-config("category.aBorderRadius", "0"); 


/*
 * pagination
 */
$pagination-background = get-config("pagination.background", "rgba(30, 177, 214, 0.1)");
$pagination-color = get-config("pagination.color", "rgb(30, 177, 214)");  
