<div class="footer-info gray">
    <div>
        <span><a href="https://github.com/can-dy-jack/hexo-theme-delicate">Delicate</a> theme designed with ❤️ by <a href="https://github.com/can-dy-jack">can-dy-jack</a></span>
    </div>
    <div>
        <span>Copyright Ⓒ <%- new Date().getFullYear() %>. All rights reserved.</span>
    </div>
</div>