.post-archives-head{
    color: teal;
    text-shadow: 0 4px 4px red,2px 2px 3px blue;
}
.post-archives{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.post-archives:hover{
    background-color: #F8F9FA;
}
.post-archives:active{
    transform: scale(0.98);
}
.post-archives.active{
    background-color: #F8F9FA;
    width: fit-content;
    flex-direction: column;
    padding: 10px 24px;
    box-shadow: 5px 2px 22px#fff,
                -5px -2px 22px #a9bfc3;
    margin: 5px auto;
}

