/* 基本布局样式 */
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'PTSans', 'JetBrains Mono',microsoft yahei, serif;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

/* blog menu */
nav.navbar {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/* Blog name and description */
.blog-header {
    padding: 20px;
    margin-bottom: 20px;
    z-index: 10;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
}

/* blog body */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* .sidebar-to-top */
.sidebar-to-top{
    position: fixed;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    background-color: #fff;
    width: 48px;height: 48px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(10,30,100,.2);

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.sidebar-to-top a{
    text-decoration: none;
    font-size: 30px;
}
@keyframes toTopMove {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(50px);
    }
}

/* Pagination */
.pagination{
    justify-content: center;
}

/* 主页文章列表 */
.blog-post {
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog-post-meta span{
    margin-right: 5px;
}
.blog-post-meta .post-count{
    padding: 0 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.blog-post-meta .post-count:hover{
    background-color: #f2f3f4;
}
.blog-post img{
    max-width: 100% !important; /* 解决图片溢出 */
}
/* 文章下的标签 和 分类*/
.blog-tag-and-cate{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.blog-tags-container,.blog-categories-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 3px 5px;
}
.blog-tags-container .glyphicon svg,
.blog-categories-container .glyphicon svg{
    font-size: 14px;
    fill: #0090FF;
    margin: 0 5px;
}
.blog-tags-container .blog-text,
.blog-categories-container .blog-text{
    margin-right: 0;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}
.blog-tags-container .blog-text:hover,
.blog-categories-container .blog-text:hover{
    background-color: #f2f4f6;
}

.blog-post-change{
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-post-change .blog-post-pre{
    margin: 5px 0;
}
.blog-post-change .blog-post-pre:hover a,
.blog-post-change .blog-post-next:hover a{
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
.blog-post-change .blog-post-next{
    margin: 5px 0;
}
.blog-post-change .blog-post-pre a
,.blog-post-change .blog-post-next a{
    color: #1d1d1d;
    transition: all 0.2s ease;
}
.blog-post-pre-icon,.blog-post-next-icon{
    font-size: 20px;
    font-weight: 900;
    color: #1d1d1d;
    transition: all 0.2s ease;
}
.blog-post-next:hover .blog-post-next-icon,
.blog-post-pre:hover .blog-post-pre-icon{
    color: #007bff;
}
/* footer */

.blog-footer {
    padding: 20px 0;
    color: #999;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p{
    margin: 0 10px;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

/* 
 * sidebar
 */
.sidebar-top{
    margin-bottom: 30px;
    z-index: 50;
}
.sidebar-top h3{
    text-align: center;
}
.sidebar-top .sidebar-top-part{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sidebar-top .sidebar-top-part>div{
    margin-right: 10px;
}

.sidebar-about{
    position: sticky;
    top: 5px;left: 0;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
    font-family: microsoft yahei, sans-serif;
}
.sidebar-about .my-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-about .my-img>div{
    width: 50%;
    border-radius: 50%;
    border: 2px dashed teal;
    overflow: hidden;
}
.sidebar-about .my-img img{
    width: 100%;
    transform: scale(1.1);
}
.sidebar-about .my-img .name{
    margin: 5px 0;
    color: teal;
    font-weight: bold;
}
.sidebar-about .my-logo{
    color: #1b5a5a;
    text-align: center;
    margin: 5px 0 10px 0;
}
.sidebar-about .my-tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.sidebar-about .my-tag span{
    padding: 3px 8px;
    margin: 2px 3px;
    background-color: rgba(191, 238, 238,.6);
    border: 1px solid teal;
    color: teal;
    font-size: 14px;
    border-radius: 4px;
}
.sidebar-about .my-division{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar-about .my-division .division{
    height: 1px;
    width: 100%;
    background-color: teal;
    display: block;
}
.sidebar-about .my-division .text{
    transform: translateY(-50%);
    background-color: #fff;
    padding: 2px 8px;
    color: #111;
}
.sidebar-about .my-social-account{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.sidebar-about .my-social-account .icon-box{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    position: relative;
}
.sidebar-about .my-social-account .icon-box a{
    text-decoration: none;
    
}

.tag-box h3{
    text-align: center;
    margin: 15px 0;
}

.heart{
    width: 16px;
    height: 16px;
    transform: translate(-50%,5px) rotate(-45deg);
    position: absolute;
    animation: heartMove cubic-bezier(0.62, 0.16, 0.37, 1.1) 1s forwards;
}
.heart::before{
    content: '';
    background-color: inherit;
    width: 16px;
    height: 16px;
    border-radius: 50%;transform: translateY(-50%);
    position: absolute;
}
.heart::after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;transform: translateX(50%);
    position: absolute;
    background-color: inherit;
}
@keyframes heartMove {

    to{
        transform: translate(-50%,-80px) rotate(-45deg);
        opacity: 0;
    }
}

/* widget-weather */
.widget-weather{
    background: #fff;
    background: radial-gradient(ellipse at top,#d49ce0,transparent),
                radial-gradient(ellipse at right,#5ab3ee,transparent),
                radial-gradient(farthest-corner at 10px 10px,#FF6B6B 0%,transparent 100%);
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 10px;
    color: #fbffec;
}
.weather-today{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-today .wtt{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fbffec;
}

.weather-info{
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,.2);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    --textLength: 0;
}
.weather-info .weather-info-icon{
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: right;
}
.weather-info .weather-info-icon svg{
    margin-top: 3px;
}
.weather-info .weather-info-text{
    height: 24px;line-height: 24px;
    width: calc(100% - 50px);
    white-space: nowrap;
    margin: 3px 10px;
    overflow: hidden;
    position: relative;
}
.weather-info .weather-info-text span{
    position: absolute;
    left: 10px;
    top: 0;
    animation: weatherInfo 10s linear 1s infinite;
}
@keyframes weatherInfo {
    0%{
        left: 50px;
    }
    100%{
        left: -280px;
    }
}

/* widget-music */
.widget-music{
    margin-bottom: 30px;
    padding: 15px 0;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    background: radial-gradient(ellipse at top,#d9aee2,transparent),
                radial-gradient(ellipse at right,#96d5ff,transparent),
                radial-gradient(farthest-corner at 10px 10px,#eea9a9 0%,transparent 100%);
}
.widget-music h4{
    text-align: center;
}
.widget-music .control-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
    background-color: rgba(255,255,255,.2);
}
.widget-music .control-info #qqMusic-info{
    font-size: 20px;
    color: rgb(11, 104, 91);
}

/* widget-carousel */
.widget-carousel{
    margin-bottom: 30px;
    background-color: #fff;
}