::selection{
    background-color: rgb(63, 126, 155);
}
::-moz-selection{
    background-color: rgb(63, 126, 155);
}
body {
    background-color: var(--dark-bg2);
}
nav.navbar {
    -webkit-box-shadow: 0 -2px 12px 2px rgba(255,255,255,.1);
    box-shadow: 0 -2px 12px 2px rgba(255,255,255,.1);
    background-color: #454545;
}
nav.navbar .nav-item .nav-link,
nav.navbar .navbar-brand{
    color: #ddd;
}

nav.navbar .navbar-brand:hover{
    color: #eee;
}
nav.navbar ul li::before{
    background-color: #eee;
}
.blog-header {
    background-color: var(--dark-bg3);
    box-shadow: 2px 4px 18px rgba(230,230,230,.05);
    color: #ddd;
}
.blog-post {
    background-color: var(--dark-bg3);
    color: #ddd;
}
nav.navbar .nav-item .dropdown-menu{
    box-shadow: 0 10px 20px 8px rgba(255,255,255,.04);
}
.blog-footer {
    color: #ddd;
    background-color: #343434;
    border-top: 1px solid #e5e5e5;
}
#sidebar-to-top{
    background-color: var(--dark-bg3);
    color: #ddd;
    fill: #ddd;
    box-shadow: 0 0 10px rgba(210,230,200,.2);
}
.sidebar-about{
    background-color: var(--dark-bg3);
}
.sidebar-about .my-division .text{
    background-color: #2b2a33;
    color: #ddd;
}

/* plugins */
.description{
    color:#ddd;
}