div,
nav,
span,
main,
footer,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
.transition {
    transition: all 0.25s ease;
}

::selection {
    background-color: antiquewhite;
    color: #232323;
}

body {
    font-family: microsoft yahei, Roboto Mono, JetBrains Mono, consolas, sans-serif;
    background-color: #fcfcfc;
    background-image: radial-gradient(#ddddeeaa 12%, #fcfcfcaa 12%);
    background-size: 15px 15px;
    font-size: 16px;
}

/* nav */
nav {
    background-color: #20232a;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 200;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .06);
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .navbar .nav-left {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

nav .navbar .nav-left .nav-brand {
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
}

nav .navbar .nav-left .nav-brand a {
    display: flex;
    align-items: center;
    color: #f8e5af;
    height: 50px;
}

nav .navbar .nav-left .nav-brand img {
    margin: 0 5px;
}

nav .navbar .nav-left .nav-link a {
    box-sizing: border-box;
    padding: 0 8px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: white;
}

nav .navbar .nav-left .nav-link a:hover {
    color: #f8e5af;
}

nav .navbar .nav-right {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

nav .navbar .nav-right .friends-more {
    cursor: pointer;
    display: none;
}

nav .navbar .nav-right .friends-more:hover svg {
    fill: #f8e5af;
}

nav .navbar .nav-right a {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

nav .navbar .nav-right a:hover {
    color: #f8e5af;
}

nav .navbar .nav-right svg {
    fill: #ddd;
    margin-left: 3px;
}

nav #phone-nav-link {
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .05);
    padding: 10px 20px;
    transform: scaleX(0);
    transform-origin: right;
}

nav #phone-nav-link a {
    margin: 10px;
}

nav #phone-nav-link a:hover {
    color: #f8e5af;
}


/*  footer */
footer {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 5px;
}

footer #to_top {
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .04);
    z-index: 20;
}

footer #to_top svg {
    fill: #fff;
    transform: translateY(5px);
}

footer #to_top:hover {
    background-color: #fff;
}

footer #to_top:hover svg {
    fill: blue;
}

footer a {
    color: #aaa;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
    transition: all 0.25s ease;
}

footer a:hover {
    color: #232323;
    border-bottom: 1px solid #232323;
}

/* 主页 */
main .index-header {
    width: 100%;
    height: 160px;
    text-align: center;
    padding: 80px 0;
}

main .index-title {
    font-size: 40px;
    text-align: center;
}

main .index-title div {
    position: relative;
    white-space: nowrap;
}

main .index-title div::after {
    content: 'I';
    animation: index_title_after 1s infinite normal;
}

main .index-description {
    font-size: 34px;
}

/* 模拟指针闪烁 */
@keyframes index_title_after {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

main .article-container {
    width: 100%;
    box-sizing: border-box;
}

main .article-container article {
    box-sizing: border-box;
    padding: 20px 50px;
}

main .article-container article:nth-child(2n+1) {
    background-color: #fff;
}

main .article-container article:nth-child(2n) {
    background-color: #ddd;
}

main .excerpt-pagination {
    text-align: center;
    padding: 20px;
}

.excerpt-pagination span {
    margin: 5px 10px;
}

.excerpt-pagination span a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #454545;
    border-radius: 5px;
}

.excerpt-pagination span a:hover {
    background-color: #454545;
}

.excerpt-pagination-input {
    background-color: #fafafa;
    height: 75px;
    padding: 3px 8px;
    border: 1px solid #454545;
    border-radius: 5px;
    transition: all 0.25s ease;
}

.excerpt-pagination-input:focus-within {
    background-color: #454545;
    color: white;
}

.excerpt-pagination-input input {
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 3px 5px;
    width: 50px;
    transition: all 0.25s ease;
    background-color: #fafafa;
}

.excerpt-pagination-input input:focus {
    background-color: #454545;
    color: white;
}

.excerpt-pagination-input label {
    font-size: 1rem;
}


/* post */
.post-body {
    background-color: #fafafa;
    display: flex;
    position: relative;
}

.post-toc {
    width: 400px;
    padding-top: 100px;
    background-color: #fafafa;
    border-left: 1px solid #eee;
}

.post-toc .toc {
    position: sticky;
    width: 100%;
    max-height: 90vh;
    overflow: auto;
    top: 80px;
    list-style-type: none;
    padding-left: 0;
    background-color: #fafafa;
    transition: all 0.25s ease;
}

.post-toc .toc::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.post-toc .toc::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: 2px solid transparent;
    transform: background 0.25 ease;
}

.post-toc .toc:hover::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.post-toc .toc ol,
.post-toc .toc ul {
    padding-left: 20px;
    list-style-type: none;
    margin: 0;
}

.post-toc .toc ol li {
    padding: 0;
}

.post-toc .toc a {
    text-decoration: none;
    box-sizing: border-box;
    color: #232323;
    padding: 6px 10px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.post-toc .toc a:hover {
    text-decoration: none;
    color: gray;
}

.post-toc .toc a.active {
    color: blue;
    border-left: 2px solid blue;
    background-color: rgb(221, 235, 248);
}

.post-toc .toc a.active+ol {
    background-color: rgb(238, 243, 248);
}

.open-toc {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: blue;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
    user-select: none;
    z-index: 101;
}

.open-toc svg {
    fill: white;
    transform: translateY(13px);
    transition: all 0.25s ease;
}

.open-toc:hover {
    background-color: white;
}

.open-toc:hover svg {
    fill: blue;
}

.open-toc:active {
    transform: scale(0.9);
}

.post {
    overflow: hidden;
    background-color: #fff;
}
.post-share {
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.post-share span a {
    background-color: none;
    border: none;
    background-color: aquamarine;
}
.post-share span a{
    background: none !important;
    margin-left: 6px;
}
.post-share .post-share-qq svg{
    fill: #01beff;
    font-size: 24px;
}
.post-share .post-share-weibo svg{
    fill: #e6162d;
    font-size: 24px;
}


/* post tag and categories */
.blog-tag-and-cate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.post-tags-container {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.post-tags-container .post-tags-text {
    background-color: #eee;
    padding: 2px 5px 3px 8px;
    margin-left: 22px;
    margin-bottom: 5px;
    position: relative;
}

.post-tags-container .post-tags-text::before {
    content: '';
    position: absolute;
    left: -13px;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 13px solid #eee;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    transition: border 0.25s ease;
}

.post-tags-container .post-tags-text::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -3px;
    background-color: rgb(12, 197, 12);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.post-tags-text:hover::before {
    border-right-color: #ddd;
}

.post-tags-text:hover {
    background-color: #ddd;
}

.glyphicon-tags {
    fill: rgb(12, 197, 12);
}

.post-categories-container {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.post-categories-container .post-categories-text {
    background-color: #eee;
    padding: 2px 5px 3px 8px;
    margin-left: 22px;
    margin-bottom: 5px;
    position: relative;
}

.post-categories-container .post-categories-text::before {
    content: '';
    position: absolute;
    left: -13px;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 13px solid #eee;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    transition: border 0.25s ease;
}

.post-categories-container .post-categories-text::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -3px;
    background-color: blue;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.post-categories-text:hover::before {
    border-right-color: #ddd;
}

.post-categories-text:hover {
    background-color: #ddd;
}

.glyphicon-folder-open {
    fill: blue;
}

.post-tags-text a,
.post-categories-text a {
    background: none;
    border: none;
}

.post-tags-text a:hover,
.post-categories-text a:hover {
    background: none;
    border-bottom: none;
}

/* post-alert */
.post-alert {
    background-color: rgba(255, 2, 1, .1);
    color: red;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
}

/* post-change */
.post-change {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-change .post-pre a,
.post-change .post-next a {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 2px 5px;
}
/* archive */
section.archive {
    background-color: #fff;
    width: 80%;
    margin: 100px auto 50px auto;
    box-shadow: 0 5px 20px rgba(0,0,0,.04);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 100px;
}
.archive .post-list-group {
    display: flex;
    flex-direction: column;
}
.archive .post-list-group .post-list-year {
    font: 1.2rem bold;
}
.archive .post-list-group .list-group-item {
    background-color: #fff;
    box-sizing: border-box;
    padding: .75rem 1.25rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.archive .post-list-group .list-group-item:hover {
    background-color: rgb(242, 248, 244);
    color: rgb(54, 194, 100);
}
.archive .post-list-group .list-group-item time {
    margin-right: 20px;
}

/* 
 ~ 适配大小不同屏幕
 */
@media screen and (min-width: 1200px) {
    /* .post-toc {
        width: 20%;
    } */

    .post {
        padding: 100px 50px 40px 50px;
    }

    main .article-container article {
        padding: 20px 8%;
    }
    section.archive {
        width: 80%;
        padding: 40px 100px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    /* .post-toc {
        width: 400px;
    } */

    .post {
        padding: 100px 40px 40px 40px;
    }

    main .article-container article {
        padding: 20px 60px;
    }
    section.archive {
        width: 800px;
        padding: 40px 80px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    /* .post-toc {
        width: 400px;
    } */

    .post {
        padding: 100px 30px 30px 30px;
    }

    main .article-container article {
        padding: 20px 40px;
    }
    section.archive {
        width: 600px;
        padding: 30px 50px;
    }
    
}

@media screen and (max-width: 800px) {
    .post-toc {
        width: 100%;
        height: 70vh;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px 0 30px 0;
        box-shadow: 0 -5px 20px 3px rgba(0, 0, 0, .1);
        z-index: 100;
        transform: scaleY(0);
        overflow: auto;
        transform-origin: bottom;
    }

    .post-toc .toc {
        position: relative;
        top: 0;
        width: 100%;
        max-height: max-content;
    }

    .open-toc {
        display: inline-block;
    }

    .post {
        padding: 100px 10px 40px 10px;
    }

    nav .navbar .nav-right .friends-more {
        display: inline;
    }

    nav .navbar .nav-right a {
        display: none;
    }

    main .article-container article {
        padding: 20px;
    }
    section.archive {
        width: 90%;
        padding: 20px 30px;
    }
}

@media screen and (max-width: 600px) {
    nav .navbar .nav-left .nav-brand-text {
        display: none;
    }
    section.archive {
        width: 100%;
        border-radius: 0;
    }
}