/*
 * delicate
 * https://github.com/can-dy-jack/hexo-theme-delicate
*/

// 函数封装
@import "_functions/base"

// 变量
@import "_variables/base"

// 混合 | 透明混合
@import "_mixins/base"

// 主样式
@import "_pages/pages"
