::selection{
    background-color: rgba(90, 196, 245, 0.45);
}
::-moz-selection{
    background-color: rgba(90, 196, 245, 0.45);
}
body {
    background-color: #fafafa;
}
nav.navbar {
    -webkit-box-shadow: 0 -2px 12px 2px rgba(0,0,0,.1);
    box-shadow: 0 -2px 12px 2px rgba(0,0,0,.1);
    background-color: #fff;
}

.blog-header {
    background-color: #fff;
    box-shadow: 2px 4px 18px rgba(30,30,30,.05);
}
.blog-post {
    background-color: #fff;
}
nav.navbar .nav-item .dropdown-menu{
    box-shadow: 0 10px 20px 8px rgba(0,0,0,.04);
}
nav.navbar ul li::before{
    background-color: #fafafa;
}
.blog-footer {
    color: #999;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 -3px 8px rgba(0,0,0,.06);
    box-shadow: 0 -3px 8px rgba(0,0,0,.06);
}
#sidebar-to-top{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(10,30,100,.2);
}
.sidebar-about{
    background-color: #fff;
}
.sidebar-about .my-tag span{
    background-color: rgba(191, 238, 238,.2);
}
.sidebar-about .my-division .text{
    background-color: #fff;
    color: #777;
}
.blog-post img:not(.vemoji){
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

/* plugins */
.description{
    color: #2d2d2d;
}

