/* 文本样式 */
del {
    color: rgb(255, 84, 84);
}
.btn{
    margin: 5px;
}
/* 列表 */
ul,ol{
    padding-left: 20px;
}

/* blockquote */
blockquote p {
    border-left: 4px solid gray;
    color: gray;
    padding: 5px 15px;
}
blockquote footer {
    text-align: right;
    word-wrap: break-word;
    font-size: 0.9em;
    color: #999;
    margin-top: -1em;
    /* 消除上面p标签的margin */
}

blockquote footer::before {
    content: '--';
}
p>code,li>code{
    /* 内联代码块 */
    background-color: #efefef;
    padding: 3px 5px;
    border-radius: 3px;
}
/* 标题 */
.blog-post>h1{
    margin: 24px 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}
.blog-post>h2,
.blog-post>.h2{
    margin: 20px 0 14px 0;
    padding: 3px 0;
    border-bottom: 1px solid #eee;
    font-size: 2rem;
    font-weight: bold;
}
.blog-post>h2::after,
.blog-post>.h2::after {
    /* § | # | ❡ */
    content: '§';
    color: #3594d8;
    margin-left: 10px;
    transition: all 0.25s ease;
    display: none;
}
.blog-post>h2:hover::after,
.blog-post>.h2:hover::after {
    display: inline;
}
.blog-post>h3,
.blog-post>.h3 {
    margin: 18px 0 14px 0;
    font-size: 1.6rem;
    font-weight: bold;
}
.blog-post>h3:after,
.blog-post>.h3::after {
    content: '❡';
    margin-left: 10px;
    color: #3594d8;
    transition: all 0.25s ease;
    display: none;
}
.blog-post>h3:hover::after,
.blog-post>.h3:hover::after {
    display: inline;
}
.blog-post>h4,
.blog-post>.h4, 
.blog-post>h5,
.blog-post>.h5{
    margin: 15px 0 12px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
.blog-post>h4:after,
.blog-post>.h4::after,
.blog-post>h5:after,
.blog-post>.h5::after {
    content: '#';
    margin-left: 10px;
    color: #3594d8;
    transition: all 0.25s ease;
    display: none;
}
.blog-post>h4:hover:after,
.blog-post>.h4:hover::after,
.blog-post>h5:hover:after,
.blog-post>.h5:hover::after {
    display: inline;
}

/* 表格 */
.blog-post table{
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}
.blog-post table thead{
    background-color: #dfdfdf;
}
.blog-post table tr th{
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.blog-post table td:not(.gutter):not(.code){
    padding: 5px 10px;
    border: 1px solid #ccc;
}
.blog-post table tbody tr:nth-child(2n){
    background-color: #fafafa;
}
/* img */
.blog-post p>img:not(.vemoji),.blog-post>img:not(.vemoji){
    margin: 0.5rem;
    /* box-shadow: 0 0 12px rgba(0,0,0,.05); */
}
/* 代码块 */
figure {
    width: calc(100% + 30px);
    background-color: #f5f5f5;
    overflow: auto;
    position: relative;
    margin: 10px 0;
    transform: translateX(-15px);
}
figure .code-info {
    position: sticky;left: 0;right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
    background: #fafafa;
    border-top: 1px solid #ddd;
}
figure .code-info .btn-copy {
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}
figure .code-info .btn-copy:active{
    transform: scale(0.9);
}
figure .code-info .btn-copy svg {
    fill: gray;
    transition: all 0.2s ease;
}
figure .code-info .btn-copy svg:hover {
    fill: #444;
}
figure table td pre {
    margin-bottom: 0;
    /* 非常重要的属性设置！ */
}
figure table td.code {
    width: 100%;
    /* 非常重要的属性设置！ */
    position: relative;
}
figure table td.gutter pre {
    padding: 0 10px;
    margin: 10px 0;
    color: #aaa;
    text-align: center;
    border-right: 1px solid #999;
}
figure table td.code pre {
    padding: 0 10px;
}
/* 代码高亮主题 */
.hljs {
    color: #24292e;
    /* background: #fff; */
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: #d73a49
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #6f42c1
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: #005cc5
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #032f62
}

.hljs-built_in,
.hljs-symbol {
    color: #e36209
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: #6a737d
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #22863a
}

.hljs-subst {
    color: #24292e
}

.hljs-section {
    color: #005cc5;
    font-weight: 700
}

.hljs-bullet {
    color: #735c0f
}

.hljs-emphasis {
    color: #24292e;
    font-style: italic
}

.hljs-strong {
    color: #24292e;
    font-weight: 700
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0
}