a {
    color: inherit;
    text-decoration: none;
    transition: all 0.25s ease;
}
a:hover {
    color: #f8e5af;
}
img {
    max-width: 100%;
}

p {
    margin: 10px 0;
}

/* u {} */
hr {
    border: none;
    border-top: 3px double #aaa;
    color: #aaa;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 5px 0;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}


/* post markdown */
.post .post-title {
    font-size: 26px;
    text-align: center;
}

.post .blog-post-info {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

.post h2 {
    font-size: 24px;
}

.post h3 {
    font-size: 20px;
}

.post h4,
.post h5,
.post h6 {
    font-size: 18px;
}

.post p {
    font-size: 16px;
    line-height: 24px;
}

.post a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 229, 175, .3);
    color: #1a1a1a;
    transition: all 0.25s ease;
    text-decoration: none;
}

.post a:hover {
    background-color: #f8e5af;
    border-bottom-color: #1a1a1a;
}

.post a[rel="noopener"]::after {
    content: "\1F517";
}

.post ul,
.post ol {
    padding-left: 25px;
}

.post ul li,
.post ol li {
    margin-bottom: 3px;
}

.post img {
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, .03);
    border-radius: 10px;
    margin: 10px 0;
}

.post blockquote {
    border-left: 4px solid #ccc;
    margin: 10px 0;
    padding: 8px 15px;
}

.post blockquote p {
    margin: 0;
    padding: 0;
    color: gray;
}

.post>table {
    border-collapse: collapse;
    max-width: 100%;
}

.post>table thead {
    background-color: #bbb;
}

.post>table tr td,
.post>table tr th {
    border: 1px solid #bbb;
    padding: 5px;
}

.post>table tbody tr:nth-child(2n) {
    background-color: #fafafa;
}

.post li>code,
.post p>code {
    color: rgb(241, 42, 42);
    background-color: rgba(0, 0, 0, .05);
    padding: 1px 3px;
    border-radius: 3px;
    font-family: consolas, sans-serif;
    margin: 0 2px;
}
/* .excerpt */
.excerpt-title {
    font-size: 30px;
    text-align: center;
}
.excerpt-meta {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}
.excerpt h2 {
    font-size: 24px;
}
.excerpt h3 {
    font-size: 20px;
}
.excerpt h4,
.excerpt h5,
.excerpt h6 {
    font-size: 18px;
}
.excerpt p {
    font-size: 16px;
    line-height: 24px;
}
.excerpt a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 229, 175, .3);
    color: #1a1a1a;
    transition: all 0.25s ease;
    text-decoration: none;
}
.excerpt a:hover {
    background-color: #f8e5af;
    border-bottom-color: #1a1a1a;
}
.excerpt a[rel="noopener"]::after {
    content: "\1F517";
}
.excerpt ul,
.excerpt ol {
    padding-left: 25px;
}
.excerpt ul li,
.excerpt ol li {
    margin-bottom: 3px;
}
.excerpt img {
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, .03);
    border-radius: 10px;
    margin: 10px 0;
}
.excerpt blockquote {
    border-left: 4px solid #ccc;
    margin: 10px 0;
    padding: 8px 15px;
}
.excerpt blockquote p {
    margin: 0;
    padding: 0;
    color: gray;
}
.excerpt>table {
    border-collapse: collapse;
    max-width: 100%;
}
.excerpt>table thead {
    background-color: #bbb;
}
.excerpt>table tr td,
.excerpt>table tr th {
    border: 1px solid #bbb;
    padding: 5px;
}
.excerpt>table tbody tr:nth-child(2n) {
    background-color: #fafafa;
}
.excerpt li>code,
.excerpt p>code {
    color: rgb(241, 42, 42);
    background-color: rgba(0, 0, 0, .05);
    padding: 1px 3px;
    border-radius: 3px;
    font-family: consolas, sans-serif;
    margin: 0 2px;
}
.excerpt-more a {
    display: inline-block;
    padding: 5px 12px;
    border: 2px solid #454545;
    border-radius: 5px;
    margin: 10px 0;
}
.excerpt-more a:hover {
    background-color: #454545;
}

/* 代码块 */
figure {
    background-color: #263238;
    overflow: auto;
    margin: 20px 0;
}
figure table tr td pre {
    margin: 0;
    padding: 0;
}
figure table tr td.gutter pre {
    padding: 1px 10px 2px 10px;
    color: #aaa;
    text-align: center;
    border-right: 1px solid #aaa;
    user-select: none;
}
/* 用户自定义 */
figure table pre, 
figure table pre code {
    font-family: Roboto Mono, JetBrains Mono, consolas, microsoft yahei, sans-serif;
}
figure::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
figure::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    height: 6px;
    width: 6px;
    background-color: rgba(120, 134, 150);
    border: 2px solid transparent;
}
figure figcaption {
    color: white;
    font-size: 14px;
    padding: 5px 12px;
}
figure .code-info {
    background-color: rgb(54, 52, 50);
    position: sticky;
    left: 0;
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    border-top: 1px solid #888;
}
figure .code-info .copy-btn {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}
figure .code-info .copy-btn svg {
    fill: white;
    margin-right: 3px;
}

/* 代码高亮 */
/*!
  Theme: Materia
  Author: Defman21
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #cdd3de;
    background: #263238;
}

/* .hljs ::selection,
.hljs::selection {
    background-color: #37474f;
    color: #cdd3de
} */

.hljs-comment {
    color: #707880
}

.hljs-tag {
    color: #c9ccd3
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
    color: #cdd3de
}

.hljs-operator {
    opacity: .7
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
    color: #ec5f67
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
    color: #ea9560
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
    color: #fc0
}

.hljs-strong {
    font-weight: 700;
    color: #fc0
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: #8bd649
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: #80cbc4
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
    color: #89ddff
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
    color: #82aaff
}

.hljs-emphasis {
    color: #82aaff;
    font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #ec5f67
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: 700
}