/* 参考：https://codepen.io/stevenlei/pen/ZEJxXGL?editors=1100
*/
body::before {
    content: '';
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: -20;
    /* 不用transparent，而用透明度为0 是因为transparent在safari上会有bug  */
    background-color: #e493d0;
    background-image:
        radial-gradient(closest-side, rgba(255, 105, 178, 1), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgba(43, 211, 164, 1), rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 6s movement linear infinite;
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax;
    }

    75% {
        background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax;
    }
}
/* 毛玻璃 */
.blog-header,.blog-post{
    background-color: rgba(255,255,255,.6);
}
.blog-header,.blog-post,.sidebar-top,sidebar-about,footer,
.sidebar-about .my-division .text,nav.navbar,.float-box>div{
    backdrop-filter: blur(10px);
}
footer,nav.navbar,.float-box>div{
    opacity: 0.7;
}
.sidebar-about,.container-fluid,.sidebar-top,.sidebar-about .my-division .text{
    background-color: rgba(255,255,255,.6);
}
