/* 代码块 - 附加说明和网址 */
figure figcaption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* test */
    /* background-color: bisque; */
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
figure figcaption a,figure figcaption span{
    font-size: 0.8rem;
}

/* pullquote */
blockquote.pullquote p{
    border: none;
    position: relative;
    background-color: #fafafa;
    border-radius: 5px;
}
blockquote.pullquote p::before{
    content: '“';
    position: absolute;left: -5px;top: -8px;
    font-size: 20px;
}
blockquote.pullquote p::after{
    content: '”';
    position: absolute;right: -5px;bottom: -18px;
    font-size: 20px;
}
blockquote.center p{
    text-align: center;
}
blockquote.information p{
    background-color: rgba(0, 128, 128, .2);
    color: teal;
}
blockquote.danger p{
    background-color: rgba(255, 255, 0, .2);
    color: rgb(167, 167, 1);
}
blockquote.red p{
    background-color: rgba(255, 0, 0, .2);
    color: red;
}
blockquote.blue p{
    background-color: rgba(0, 0, 255, .2);
    color: #0000ff;
}

/* note */
.note>p{
    background-color: #dfdfdf;
    padding: 8px 12px;
    border-left: 5px solid #2d2d2d;
    border-radius: 5px;
    color: #111;
}
.note>ol{
    background-color: #dfdfdf;
    padding: 5px 10px 2px 30px;
    border-left: 5px solid #2d2d2d;
    border-radius: 5px;
    color: #111;
}
/* .note ol,.note ul{
    padding-inline-start: 20px;
} */
.note-info>p{
    background-color: #daeeee;
    color: teal;
    border-color: teal;
}
.note-primary>p{
    background-color: #e1e1fa;
    color: blue;
    border-color: blue;
}
.note-success>p{
    background-color: #e0fae0;
    color: green;
    border-color: green;
}
.note-warning p{
    background-color: rgb(252, 248, 216);
    color: rgb(255, 180, 0);
    border-color: rgb(255, 180, 0);
}
.note-danger>p{
    background-color: #ffdbdb;
    color: rgb(253, 13, 13);
    border-color: rgb(253, 13, 13);
}
.note-light p{
    background-color: #fafafa;
    color: #2d2d2d;
    border-color: #fff;
}
.note-cyan p{
    background-color: rgba(0, 255, 157, .1);
    color: rgb(0, 228, 140);
    border-color: rgb(0, 255, 157);
}
.note-purple p{
    background-color: rgb(252, 232, 252);
    color: hsl(300, 100%, 25%);
    border-color: purple;
}


