/* 代码块 - 附加说明和网址 */
figure figcaption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
figure figcaption a,figure figcaption span{
    font-size: 0.8rem;
}

/* pullquote */
blockquote.pullquote p{
    border: none;
    position: relative;
    background-color: #fafafa;
    border-radius: 5px;
}
blockquote.pullquote p::before{
    content: '“';
    position: absolute;left: -5px;top: -8px;
    font-size: 20px;
}
blockquote.pullquote p::after{
    content: '”';
    position: absolute;right: -5px;bottom: -18px;
    font-size: 20px;
}
blockquote.center p{
    text-align: center;
}
blockquote.information p{
    background-color: rgba(0, 128, 128, .2);
    color: teal;
}
blockquote.danger p{
    background-color: rgba(255, 255, 0, .2);
    color: rgb(167, 167, 1);
}
blockquote.red p{
    background-color: rgba(255, 0, 0, .2);
    color: red;
}
blockquote.blue p{
    background-color: rgba(0, 0, 255, .2);
    color: #0000ff;
}

/* note */
.note>p{
    background-color: #efefef;
    padding: 8px 12px;
    border-left: 5px solid #2d2d2d;
    border-radius: 5px;
    color: #111;
}
.note>ol,.note>ul{
    background-color: #efefef;
    padding: 5px 10px 2px 30px;
    border-left: 5px solid #2d2d2d;
    border-radius: 5px;
    color: #111;
}
.note-info>p{
    background-color: #fffbf0;
    color: #ae7000;
    border-color: #ae7000;
}
.note-info>ol,.note-info>ul{
    background-color: #fffbf0;
    color: #ae7000;
    border-color: #ae7000;
}
.note-primary>p{
    background-color: #e6eff8;
    color: #007bff;
    border-color: #007bff;
}
.note-primary>ol,.note-primary>ul{
    background-color: #e6eff8;
    color: #007bff;
    border-color: #007bff;
}
.note-success>p{
    background-color: #e0fae0;
    color: green;
    border-color: green;
}
.note-success>ol,.note-success>ul{
    background-color: #e0fae0;
    color: green;
    border-color: green;
}
.note-warning p{
    background-color: rgb(252, 248, 216);
    color: rgb(255, 180, 0);
    border-color: rgb(255, 180, 0);
}
.note-warning>ol,.note-warning>ul{
    background-color: rgb(252, 248, 216);
    color: rgb(255, 180, 0);
    border-color: rgb(255, 180, 0);
}
.note-danger>p{
    background-color: #ffdbdb;
    color: rgb(253, 13, 13);
    border-color: rgb(253, 13, 13);
}
.note-danger>ol,.note-danger>ul{
    background-color: #ffdbdb;
    color: rgb(253, 13, 13);
    border-color: rgb(253, 13, 13);
}
.note-light p{
    background-color: #fafafa;
    color: #2d2d2d;
    border-color: #fff;
}
.note-light>ol,.note-light>ul{
    background-color: #fafafa;
    color: #2d2d2d;
    border-color: #fff;
}
.note-cyan p{
    background-color: rgba(0, 255, 157, .1);
    color: rgb(0, 228, 140);
    border-color: rgb(0, 255, 157);
}
.note-cyan>ol,.note-cyan>ul{
    background-color: rgba(0, 255, 157, .1);
    color: rgb(0, 228, 140);
    border-color: rgb(0, 255, 157);
}
.note-purple p{
    background-color: rgb(252, 232, 252);
    color: hsl(300, 100%, 25%);
    border-color: purple;
}
.note-purple>ol,.note-purple>ul{
    background-color: rgb(252, 232, 252);
    color: hsl(300, 100%, 25%);
    border-color: purple;
}

/* alert */
.alert p{
    margin-bottom: 0;
}

/* description */
.description{
    padding: 10px 15px;
    border-radius: 5px;
    margin: 8px 2px;
    color: #2d2d2d;
}
.description .description-title{
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}
.description.dark{
    border: 1px solid #dfdfdf;
    border-left: 6px solid rgb(31, 2, 2);
}
.description.info{
    border: 1px solid #b6d4ff;
    border-left: 6px solid #7eb1f8;
}
.description.info .description-title{
    color: #4191ff;
}
.description.success{
    border: 1px solid #cefdc2;
    border-left: 6px solid #2ac02a;
}
.description.success .description-title{
    color: #2ac02a;
}
.description.danger{
    border: 1px solid #f8d0c1;
    border-left: 6px solid rgb(248, 70, 0);
}
.description.danger .description-title{
    color: rgb(248, 70, 0);
}
/* toasts */
.toasts{
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0 ,0.12), 0 3px 1px -2px rgb(0, 0, 0,0.2),0 -1px 4px 1px rgb(0, 0, 0,0.1);
    margin: 5px 0 10px 0;
}
.toasts .toasts-title{
    padding: 5px 10px;
    color: white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.toasts .toasts-title svg{
    font-size: 14px;
    margin-right: 5px;
}
.toasts .toasts-content{
    padding: 10px;
}

.toasts-tip .toasts-title{
    background-color: #40d884;
}
.toasts-tip .toasts-content{
    background-color: #e2faed;
}
.toasts-note .toasts-title{
    background-color: #78bef3;
}
.toasts-note .toasts-content{
    background-color: #dce9f3;
}
.toasts-danger .toasts-title{
    background-color: #f37575;
}
.toasts-danger .toasts-content{
    background-color: #f7e0e0;
}
.toasts-warning .toasts-title{
    background-color: #e7d049;
}
.toasts-warning .toasts-content{
    background-color: #f5efd4;
}