section.tags
  background-color: #fff;
  width: 80%;
  margin: 150px auto 100px auto;
  box-shadow: 0 5px 20px rgba(0,0,0,.04);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px 120px 100px 120px;
  h1
    margin: 40px 0
  a
    margin 15px 6px
    word-break: keep-all
