.page
    box-sizing: border-box
    background-color: #fff
    margin: 80px auto
    padding: 50px
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06)
    .page-title
        font-size: 1.8rem
        text-align: center
        font-weight: bold
    .blog-page-info
        text-align: center
