section.archive
  box-shadow: $archive-box-shadow
  border-radius: 10px
  .post-list-group
    .list-group-item
      border-radius: $archive-a-border-radius
      &:hover
        background-color: $archive-a-background
        color: $archive-a-hover-color
