
<% if (item.categories && item.categories.length){ %>
<%
    var categories = [];
    item.categories.forEach(function(category){
        categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
    });
%>
<div class="blog-categories-container">
    <span class="glyphicon glyphicon-folder-open">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-categories"></use>
        </svg>
    </span>
    <%- categories.join(' / ') %>
</div>
<% } %>
