<div class="post-archives">
    <a href="<%- config.root %><%- item.path %>">
        <%- item.title || item.link %>
    </a>
    <span>
        <%= item.date.format(config.date_format) %>
    </span>
</div>
