<div class="float-box">
    <div class="float-github" data-toggle="tooltip" data-placement="right" title="给个star~">
        <a href="https://github.com/can-dy-jack/hexo-theme-delicate">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-github"></use>
            </svg>
        </a>
    </div>
    <div class="float-reward" >
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dashang"></use>
        </svg>
        <div class="float-mark"><img src="<%- config.root %>/img/reward.jpg" alt="打赏二维码"></div>
    </div>
    <div class="float-feedback" data-toggle="tooltip" data-placement="right" title="反馈">
        <svg class="icon" aria-hidden="true" data-toggle="modal" data-target="#staticBackdrop">
            <use xlink:href="#icon-yijianfankui"></use>
        </svg>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">吐槽 / 建议</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <script src="https://utteranc.es/client.js"
                repo="can-dy-jack/hexo-theme-delicate"
                issue-term="反馈"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
