
<footer class="blog-footer">
    <p>use <a href="http://getbootstrap.com">Bootstrap v4.6.1</a> by <a href="https://github.com/can-dy-jack">@can-dy-jack</a>.</p>
    <p><a href="https://hexo.io/">Hexo</a> &#9825; <a href="https://github.com/can-dy-jack/hexo-theme-delicate">Delicate</a></p>
</footer>
