<p>
    <span id="times">载入时间...</span>
    <span style="display: none;" id="start-time"><%= theme.startTime %></span>
</p>
<p>
    <a href="https://hexo.io/">Hexo</a>
    ❤️
    <a href="https://github.com/can-dy-jack/hexo-theme-delicate">Delicate</a>
</p>
<p>Copyright &#9400; 2021. All rights reserved.</p>

<span id="to_top" class="transition">
    <svg class="transition" viewBox="0 0 1024 1024" width="26" height="26">
        <path d="M904 692c0 8.189-3.124 16.379-9.372 22.628-12.497 12.496-32.759 12.496-45.256 0L512 377.255 174.628 714.628c-12.497 12.496-32.758 12.496-45.255 0-12.497-12.498-12.497-32.758 0-45.256l360-360c12.497-12.496 32.758-12.496 45.255 0l360 360C900.876 675.621 904 683.811 904 692z"></path>
    </svg>
</span>

<% if(page.mathjax){ %>
    <%- partial("mathjax") %>
<% } %>

<% if(page.mermaid){ %>
    <%- partial("mermaid") %>
<% } %>


