.post-body
    background-color: var(--main-bg2)
    display: flex

.post
    box-sizing: border-box
    background-color: var(--main-bg)
    width: 75%
    padding: 100px 50px 20px 50px

.post-share
    margin: 20px 0
    padding: 10px 0
    display: flex
    align-items: center
    justify-content: flex-end
    span a
        border: none
        background: none !important
        margin-left: 6px
    .post-share-qq svg
        fill: #01beff
        font-size: 24px
    .post-share-weibo svg
        fill: #e6162d
        font-size: 24px

/* post tag and categories */
.blog-tag-and-cate
    display: flex
    flex-direction: column
    flex-wrap: wrap

.post-tags-container
    margin: 5px
    display: flex
    align-items: center
    flex-wrap: wrap
    .post-tags-text
        background-color: #eee
        padding: 2px 5px 3px 8px
        margin-left: 22px
        margin-bottom: 5px
        position: relative
        &::before
            content: ''
            position: absolute
            left: -13px
            top: 0
            bottom: 0
            width: 0
            height: 0
            border-right: 13px solid #eee
            border-top: 13px solid transparent
            border-bottom: 13px solid transparent
            transition: border 0.25s ease
        &::after
            content: ''
            position: absolute
            top: 10px
            left: -3px
            background-color: rgb(12, 197, 12)
            width: 6px
            height: 6px
            border-radius: 50%
        &:hover::before
            border-right-color: var(--main-border-color)
        &:hover
            background-color: var(--main-border-color)

.glyphicon-tags
    fill: rgb(12, 197, 12)

.post-categories-container
    margin: 5px
    display: flex
    align-items: center
    flex-wrap: wrap
    .post-categories-text
        background-color: #eee
        padding: 2px 5px 3px 8px
        margin-left: 22px
        margin-bottom: 5px
        position: relative
        &::before
            content: ''
            position: absolute
            left: -13px
            top: 0
            bottom: 0
            width: 0
            height: 0
            border-right: 13px solid #eee
            border-top: 13px solid transparent
            border-bottom: 13px solid transparent
            transition: border 0.25s ease
        &::after
            content: ''
            position: absolute
            top: 10px
            left: -3px
            background-color: blue
            width: 6px
            height: 6px
            border-radius: 50%
        &:hover::before
            border-right-color: var(--main-border-color)
        &:hover
            background-color: var(--main-border-color)

.glyphicon-folder-open
    fill: blue

.post-tags-text a, .post-categories-text a
    background: none
    border: none

.post-tags-text a:hover, .post-categories-text a:hover
    background: none
    border-bottom: none

/* post-alert */
.post-alert
    background-color: rgba(255, 2, 1, 0.1)
    color: red
    padding: 10px 20px
    margin: 10px 0
    text-align: center

/* post-change */
.post-change
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .post-pre a, .post-next a
        display: flex
        align-items: center
        // height: 25px
        padding: 2px 5px
        margin 5px
        svg
            fill: #666
    .post-next
        margin-left: auto

/* post markdown */
.post
    .post-title
        font-size: 26px
        text-align: center
    .blog-post-info
        text-align: center
        color: gray
        margin-bottom: 20px
