.post-toc
    width: 25%
    padding-top: 100px
    background-color: var(--main-bg2)
    border-left: 1px solid var(--main-border-color)
    .toc
        position: sticky
        width: 100%
        max-height: 90vh
        overflow: auto
        top: 80px
        list-style-type: none
        padding-left: 0
        background-color: var(--main-bg2)
        transition: all 0.25s ease
        &::-webkit-scrollbar
            width: 10px
            height: 10px
        &::-webkit-scrollbar-thumb
            width: 6px
            height: 6px
            background-color: #f1f1f1
            background-clip: padding-box
            border: 2px solid transparent
            transform: background 0.25 ease
        &:hover::-webkit-scrollbar-thumb
            background-color: #ddd
        ol, ul
            padding-left: 20px
            list-style-type: none
            margin: 0
            li
                padding: 0
        a
            text-decoration: none
            box-sizing: border-box
            color: var(--text-color)
            padding: 6px 10px
            width: 100%
            display: block
            overflow: hidden
            &:hover
                text-decoration: none
                color: gray
            &.active
                color: $markdown-toc-color
                border-left: 2px solid $markdown-toc-color
                background-color: $markdown-toc-list-bg
                &+ol
                    background-color: $markdown-toc-item-bg

.open-toc
    fix-it(fixed)
    z-index: 101
    left: 20px
    bottom: 20px
    background-color: blue
    display: none
    width: 50px
    height: 50px
    border-radius: 50%
    text-align: center
    cursor: pointer
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05)
    user-select: none
    svg
        fill: white
        transform: translateY(13px)
        transition: all 0.25s ease
    &:hover
        background-color: white
        svg
            fill: blue
    &:active
        transform: scale(0.9)
