<% if (item.categories && item.categories.length){ %>
<%
    var categories = [];
    item.categories.forEach(function(category){
        categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
    });
%>
<div class="post-categories-container">
    <span class="glyphicon glyphicon-folder-open">
        <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
          <path d="M332.288 109.568c17.92 0 33.28 6.144 46.08 18.432 12.8 12.288 18.944 27.648 18.944 45.568v258.048c0 17.92-6.144 33.28-18.944 46.08s-28.16 18.944-46.08 18.944H74.24C56.32 496.64 40.96 489.984 28.672 477.184c-12.288-12.8-18.432-28.16-18.432-46.08V173.568c0-17.92 6.144-33.28 18.432-45.568 12.288-12.288 27.648-18.432 45.568-18.432h258.048z m0 516.096c17.92 0 33.28 6.144 46.08 18.432 12.8 12.288 18.944 27.648 18.944 45.568v259.072c0 17.92-6.144 33.28-18.944 45.568-12.8 12.288-28.16 18.432-46.08 18.432H74.24c-17.92 0-33.28-6.144-45.568-18.432-12.288-12.288-18.432-27.648-18.432-45.568v-259.072c0-17.92 6.144-33.28 18.432-45.568 12.288-12.288 27.648-18.432 45.568-18.432h258.048z m517.12 0c17.92 0 33.28 6.144 45.568 18.432 12.288 12.288 18.432 27.648 18.432 45.568v259.072c0 17.92-6.144 33.28-18.432 45.568-12.288 12.288-27.648 18.432-45.568 18.432h-258.048c-17.92 0-33.28-6.144-46.08-18.432-12.8-12.288-18.944-27.648-18.944-45.568v-259.072c0-17.92 6.144-33.28 18.944-45.568 12.8-12.288 28.16-18.432 46.08-18.432h258.048zM993.28 222.72c13.824 13.824 20.48 29.696 20.48 48.64 0 18.432-6.656 34.304-20.48 47.616l-192 192c-13.824 13.824-29.696 20.48-48.128 20.48-18.432 0-34.304-6.656-48.128-20.48l-192-192c-13.312-13.312-19.456-28.672-19.456-47.616 0-18.432 6.656-34.816 19.456-48.64L705.024 30.72c13.824-13.312 29.696-19.456 48.128-19.456 18.432 0 34.304 6.656 48.128 19.456L993.28 222.72z m0 0"></path>
        </svg>
    </span>
    <% categories.forEach(function(i){ %>
    <span class="post-categories-text transition">
        <%- i %>
    </span>
    <% }) %>
</div>
<% } %>