.foot
    box-sizing: border-box
    padding: 20px
    text-align: center
    background-color: #fafafa
    border-top: 1px solid #ddd
    p
        margin: 5px
    #to_top
        width: 40px
        height: 40px
        display: inline-block
        cursor: pointer
        background-color: blue
        border-radius: 50%
        position: fixed
        right: 20px
        bottom: 20px
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.04)
        z-index: 20
        svg
            fill: #fff
            transform: translateY(5px)
        &:hover
            background-color: #fff
        &:hover svg
            fill: blue
    a
        color: #aaa
        border-bottom: 1px solid #aaa
        text-decoration: none
        &:hover
            color: #232323
            border-bottom: 1px solid #232323
