.nav-box
    background: var(--main-bg)
    display: flex
    justify-content: space-between
    height: 40px
    width: 100%
    z-index: 90
    border-bottom: 1px solid var(--main-border-color)
    position: fixed
    top: 0
    left: 0
    .nav-brand
        height: 40px
        background: var(--main-bg)
        display: flex
        align-items: center
        box-sizing: border-box
        padding: 0 10px
        .friends-more
            cursor: pointer
            padding: 5px 10px
            fill: $a-hover-color
        .nav-brand-img
            margin-right: 5px
    .nav-container
        flex: 1
        // background: #fff
        display: flex
        align-items: center
        box-sizing: border-box
        padding: 0 10px
        z-index: 50
        svg
            fill: var(--text-color)
            transition: fill 0.25s ease
        .nav-pages
            flex: 1
            font-size: 1rem
            a
                padding 0 5px
                height 40px
                margin 0
                line-height: 40px
                display: inline-block
                &:hover
                    background-color: var(--main-hover-bg)
        .nav-link
            a
                margin: 0 2px
    .nav-control
        // background-color: pink
        position: relative
        display: flex;
        z-index: 10
        .nav-search
            padding: 8px 5px 2px 5px
        div
            height 30px
            line-height: 30px
            cursor: pointer
            &:hover
                background-color: var(--main-hover-bg)
            svg
                fill: var(--text-color)
                transition: all 0.25s ease
        .dark-light
            padding: 8px 8px 2px 8px
            #dark-show
                display: none

.delicate-search-bg
    display: none
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 120
    background: rgba(0, 0, 0, 0.6)

.delicate-search-wrap
    position: fixed
    display: none
    left: 50%
    top: 50px
    z-index: 130
    transform: translateX(-50%)
    .search-box
        background: var(--body-bg)
        padding: 10px
        border: 1px solid var(--main-border-color2)
        border-radius: 10px
        form
            .search-input
                display: flex
                width: 100%
                box-sizing: border-box
                border: 1px solid var(--main-border-color2)
                border-radius: 5px
                padding: 5px 6px
                margin-bottom: 10px
                label
                    svg
                        fill: $a-hover-color
                        margin-top: 5px
                input
                    outline: none
                    flex: 1
                    background: var(--body-bg)
                    position: relative
                    font-size: 1rem
                    border: none
                    padding: 5px
                    &:focus
                        background: var(--main-border-color)
                    &::placeholder
                        color: $a-hover-color
                        opacity: 0.5
                    caret-color: $a-hover-color
                    color: $a-hover-color
                &:focus-within
                    background: var(--main-border-color)
                    box-shadow: 0 0 0 3px rgba($a-hover-color, 0.6)
                    border-color: $a-hover-color
        .search-result
            border-top: 1px solid var(--main-border-color)
            overflow: auto
            max-height: 80vh
            &::-webkit-scrollbar
                height: 5px
                width: 5px
                background: var(--body-bg)
            &::-webkit-scrollbar-thumb
                height: 4px
                width: 4px
                background: rgba($a-hover-color, 0.8)
                border-radius: 10px
            section
                margin: 5px 0
                padding: 5px 10px
                a
                    font-size: 1em
                div
                    font-size: 0.8em
                    padding: 2px 5px
                    color: gray
        .search-result-text
            border-top: 1px solid var(--main-border-color)
