nav {
    background-color: #20232a;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 200;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);

    .navbar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .nav-left {
            display: flex;
            flex-direction: row;
            height: 50px;
            align-items: center;

            .nav-brand {
                height: 50px;
                line-height: 50px;
                margin: 0 10px;

                a {
                    display: flex;
                    align-items: center;
                    color: $a-hover-color;
                    height: 50px;
                }

                img {
                    margin: 0 5px;
                }
            }

            .nav-link a {
                box-sizing: border-box;
                padding: 0 8px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                color: white;

                &:hover {
                    color: $a-hover-color;
                }
            }
        }

        .nav-right {
            display: flex;
            flex-direction: row;
            color: white;
            padding: 0 10px;
            display: flex;
            align-items: center;

            .friends-more {
                cursor: pointer;
                display: none;
            }

            .friends-more:hover svg {
                fill: $a-hover-color;
            }
            .friends-more:active {
                box-shadow: 0 0 0 3px rgb(51, 63, 235)
            }

            a {
                display: flex;
                align-items: center;
                margin: 0 5px;

                &:hover {
                    color: $a-hover-color;
                }
            }

            & svg {
                fill: #ddd;
                margin-left: 3px;
            }
        }
    }

    #phone-nav-link {
        background-color: #fff;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        transform: scaleX(0);
        transform-origin: right;

        & a {
            margin: 10px;

            &:hover {
                color: $a-hover-color;
            }
        }
    }
}