.pagination
    padding: 36px 0 20px 0
    display: flex
    justify-content: center
    align-items: center
    a, span
        display: inline-block
        padding: 0.5rem 0.75rem
    .current
        background: $pagination-background
    a
        transition: all 0.25s ease
        &:hover
            background: $pagination-background
            color: $pagination-color
            fill: $pagination-color
            // fill: rgb(243, 151, 31)
