.category-list
    background: #fff
    width: 80%
    margin: 100px auto
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
    box-sizing: border-box
    padding: 40px 50px
    border-radius: 20px
    display: flex
    flex-direction: column
    .category
        .list-group-item
            display: flex
            justify-content: space-between
            font-size: 1.2rem
            padding: 5px 0
            margin-top: 20px
            a
                transform: all 0.25s ease
                fill: #aaa
                color: #aaa
                &:hover
                    color: #333
                    fill: #333
        .category-collapse
            display: flex
            flex-direction: column
            border-left: 1px solid gray
            margin-left: 5px
            .category-post-list
                display: flex
                flex-direction: column
                a
                    padding: 10px 20px
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    &:hover
                        background: rgba(0, 0, 0, 0.05)
                        color: #333
            .category-sub
                margin-left: 20px
