section.category
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04)
  border-radius: 10px
  .post-list-group
    .list-group-item
      border-radius: $category-a-border-radius
      &:hover
        background-color: $category-a-background
        color: $category-a-hover-color
